.content{
    .property{
        color: rgba(0,188,27,0.9);
        margin-right: 5px;
    }
    .property::after{
        content: ":";
    }


    .string{
        color:rgba(100, 50, 264, 0.7);
        font-weight: 500;
    }
    .string::before{
        content: "\"";
    }
    .string::after{
        content: "\"";
    }


    .number{
        color: rgba(0,129,300,0.7);
        font-weight: 500;
    }


    .object{
    }
    .object::before{
        content: "{"
    }
    .object::after{
        content: "}"
    }

    .array{
    }
    .array::before{
        content: "["
    }
    .array::after{
        content: "]"
    }


    .toggle{
        display: none;
        font-size: 10px;
        border: 1px solid black;
        margin-right: 10px;
        opacity: 0.6;
        padding: 0 3px;
        background: rgba(0,0,0,0.2);
        cursor: pointer;
    }
    .toggle::before{
        content: "-"
    }

    .placeholder{
        display: none;
    }


    li,ul,ol{
        margin: 0 0 0 10px;
        padding: 0;
        list-style-type: none;
    }

    ul li::after{
        content: ",";
    }

    ul li:last-child::after{
        content: "";
    }

}